<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties"/>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}"/>

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>com/eboy/po/Category.hbm.xml</value>
                <value>com/eboy/po/Comment.hbm.xml</value>
                <value>com/eboy/po/Delivery.hbm.xml</value>
                <value>com/eboy/po/Gallery.hbm.xml</value>
                <value>com/eboy/po/Item.hbm.xml</value>
                <value>com/eboy/po/ItemTag.hbm.xml</value>
                <value>com/eboy/po/Order.hbm.xml</value>
                <value>com/eboy/po/Tag.hbm.xml</value>
                <value>com/eboy/po/Statistics.hbm.xml</value>
                                
            </list>
        </property>
        <property name="hibernateProperties">
            <value>hibernate.dialect=org.hibernate.dialect.MySQLDialect</value>
        </property>
    </bean>
    <bean id="tagDao" class="com.eboy.dao.TagDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean>
    <bean id="categoryDao" class="com.eboy.dao.CategoryDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean>
    <bean id="itemDao" class="com.eboy.dao.ItemDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean>
    <bean id="orderDao" class="com.eboy.dao.OrderDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean>
    <bean id="deliveryDao" class="com.eboy.dao.DeliveryDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean>
    <bean id="galleryDao" class="com.eboy.dao.GalleryDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean>
    <bean id="commentDao" class="com.eboy.dao.CommentDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean> 
        
        
        
    <bean id="tagService" class="com.eboy.service.TagServiceImpl">
        <property name="tagDao">
            <ref bean="tagDao"></ref>
        </property>
    </bean>
    <bean id="categoryService" class="com.eboy.service.CategoryServiceImpl">
        <property name="categoryDao">
            <ref bean="categoryDao"></ref>
        </property>
    </bean>        
    <bean id="itemService" class="com.eboy.service.ItemServiceImpl">
        <property name="itemDao">
            <ref bean="itemDao"></ref>
        </property>
    </bean>        
    <bean id="orderService" class="com.eboy.service.OrderServiceImpl">
        <property name="orderDao">
            <ref bean="orderDao"></ref>
        </property>
    </bean>
    <bean id="galleryService" class="com.eboy.service.GalleryServiceImpl">
        <property name="galleryDao">
            <ref bean="galleryDao"></ref>
        </property>
    </bean>
    <bean id="deliveryService" class="com.eboy.service.DeliveryServiceImpl">
        <property name="deliveryDao">
            <ref bean="deliveryDao"></ref>
        </property>
    </bean>
    <bean id="commentService" class="com.eboy.service.CommentServiceImpl">
        <property name="commentDao">
            <ref bean="commentDao"></ref>
        </property>
    </bean>
        
    <bean id="helloAction" class="com.eboy.action.HelloAction">
        <property name="tagService">
            <ref bean="tagService"></ref>
        </property>
    </bean>
    <bean id="addCategoryAction" class="com.eboy.action.admin.AddCategoryAction">
        <property name="categoryService">
            <ref bean="categoryService"></ref>
        </property>
    </bean>
    <bean id="addItemAction" class="com.eboy.action.admin.AddItemAction">
        <property name="itemService">
            <ref bean="itemService"></ref>
        </property>
        <property name="categoryService">
            <ref bean="categoryService"></ref>
        </property>
        <property name="galleryService">
            <ref bean="galleryService"></ref>
        </property>
        
    </bean>
    <bean id="translateItemAction" class="com.eboy.action.admin.TranslateItemAction">
        <property name="categoryService">
            <ref bean="categoryService"></ref>
        </property>
    </bean>
    <bean id="findItemsFromEbayByKeywordsAction" class="com.eboy.action.admin.FindItemsFromEbayByKeywordsAction">     
    </bean>
    <bean id="lookUpOrderAction" class="com.eboy.action.admin.LookUpOrderAction">
        <property name="orderService">
            <ref bean="orderService"></ref>
        </property>
    </bean>
    <bean id="lookUpSingleOrderAction" class="com.eboy.action.admin.LookUpSingleOrderAction">
        <property name="orderService">
            <ref bean="orderService"></ref>
        </property>
        <property name="deliveryService">
            <ref bean="deliveryService"></ref>
        </property>
    </bean>
    <bean id="addOrderDeliveryAction" class="com.eboy.action.admin.AddOrderDeliveryAction">
        <property name="orderService">
            <ref bean="orderService"></ref>
        </property>
        <property name="deliveryService">
            <ref bean="deliveryService"></ref>
        </property>
    </bean>
    <bean id="deliverOrderAction" class="com.eboy.action.admin.DeliverOrderAction">
        <property name="orderService">
            <ref bean="orderService"></ref>
        </property>
        <property name="deliveryService">
            <ref bean="deliveryService"></ref>
        </property>
    </bean>
    <bean id="lookUpCommentAction" class="com.eboy.action.admin.LookUpCommentAction">
        <property name="commentService">
            <ref bean="commentService"></ref>
        </property>
    </bean>
    <bean id="deleteCommentAction" class="com.eboy.action.admin.DeleteCommentAction">
        <property name="commentService">
            <ref bean="commentService"></ref>
        </property>
    </bean>
</beans>
